<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BackupDirectory" value="D:\\AutoBackup" />
    <add key="BackupCommandTimeoutSeconds" value="3600" />
    <add key="ZipBackupDirectory" value="D:\\dbBackup" />
  </appSettings>
  <connectionStrings>
    <add name="KGCHRMContext" connectionString="data source=EC2AMAZ-NUJ3UGP;initial catalog=KGCHRMCURRENTNEW;user id=sa;password=tZ90@_#tM%KaAl$!()nUSm; multipleactiveresultsets=True;  application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>
